* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#big {
    background-image: url(photo/Walper.jpg);
    max-height: 100%;
    max-width: 100%;
}
#big-2 {
    box-sizing: border-box;
    background-image: url(img_test.png);
    margin-top: -2vi;
}

.bottom {
    width: 10vw;                  /* Используем vw вместо vi, чтобы размеры были пропорциональны ширине окна */
    height: 10vw;                 /* Используем vw для сохранения пропорций с шириной */
    border: 2px solid black;
    background-color: aqua;
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    top: calc(100vh - 10vw - 20px);  /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
    left: calc(100vw - 10vw - 20px); /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
}


.box-img-left {
    margin-left: 2vi;
    margin-top: 2vi;
    display: flex;           /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: center;     /* Центрируем элементы по вертикали */
    justify-content: flex-start;  /* Текст и картинка будут выровнены слева */
}
.box-img-right {
    margin-left: 2vi;
    margin-top: 2vi;
    display: flex;           /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: start;     /* Центрируем элементы по вертикали */
    justify-content: space-between;
}
.img {
    width: 45vi;            /* Устанавливаем фиксированную ширину для изображения */
    height: auto;            /* Сохраняем пропорции изображения */
    margin-right: 2vi;      /* Отступ между изображением и текстом */
    margin-top: 2vi;
}


.text_left {
    padding: 1.5vi;
    font-size: 3.5vi;         /* Размер шрифта */
    line-height: 1.5;        /* Межстрочный интервал */
    border: 1px solid;
    margin-right: 2vw;
    margin-top: 2vi;
    backdrop-filter: blur(20px);
    height: auto;
    width: 45vi;
} 
.text_right {
    padding: 1.5vi;
    font-size: 3.5vi;         /* Размер шрифта */
    line-height: 1.5;        /* Межстрочный интервал */
    border: 1px solid;
    margin-right: 2vw;
    margin-top: 2vi;
    backdrop-filter: blur(20px);
    height: auto;
    width: 45vi;
} 
.text_down {
    margin-left: 2vi;
    margin-right: 2vi;
    margin-top: 3vi;
    font-size: 4vi;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}


.line {
    height: 5vi;
    font-size: 4vi;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.line-center {
    padding: 0.5vi;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
    height: 5vi;
    font-size: 4vi;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}