* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
}
.bottom {
    width: 14vw;                  /* Используем vw вместо vi, чтобы размеры были пропорциональны ширине окна */
    height: 14vw;                 /* Используем vw для сохранения пропорций с шириной */
    border: 2px solid black;
    background-color: aqua;
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    top: calc(100vh - 14vw - 20px);  /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
    left: calc(100vw - 16vw - 20px); /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
}
img {
    max-width: 100%;
    max-height: 100%;
}

.blok_text_down {
    margin-bottom: 4vh;
}



/* Как обычно у меня тут будет всякий мелкий мусор*/
.text_ul_1 {
    padding-left: 4vw;
}

.chess_img {
    height: 8vh;
    width: auto;
}