* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bottom {
    width: 14vw;                  /* Используем vw вместо vi, чтобы размеры были пропорциональны ширине окна */
    height: 14vw;                 /* Используем vw для сохранения пропорций с шириной */
    background-color: aqua;
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    top: calc(100vh - 14vw - 20px);  /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
    left: calc(100vw - 16vw - 20px); /* Учитываем размеры элемента, чтобы он не выходил за пределы экрана */
}


.box-img-left {
    margin-left: 2vi;
    margin-top: 2vi;
    display: flex;           /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: center;     /* Центрируем элементы по вертикали */
    justify-content: flex-start;  /* Текст и картинка будут выровнены слева */
}
.box-img-right {
    margin-left: 2vi;
    margin-top: 2vi;
    display: flex;           /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: start;     /* Центрируем элементы по вертикали */
    justify-content: space-between;
}
.img {
    width: 45vi;            /* Устанавливаем фиксированную ширину для изображения */
    height: auto;            /* Сохраняем пропорции изображения */
    margin-right: 2vi;      /* Отступ между изображением и текстом */
    margin-top: 2vi;
}
.img_big {
    height: auto;
    width: 85vw;
    margin: 5vw;
    border: solid 0px black;
    border-radius: 20%;
}


.text_left {
    padding: 1.5vi;
    font-size: 2.5vh;         /* Размер шрифта */
    line-height: 2.5vh;        /* Межстрочный интервал */
    margin-right: 2vw;
    margin-top: 2vi;
    height: auto;
    width: 45vi;
    border-radius: 15px;
    background: linear-gradient(135deg, #f5f7fa, #e2e6ea);
} 
.text_right {
    padding: 1.5vi;
    font-size: 2.244vh;         /* Размер шрифта */
    line-height: 2.5vh;        /* Межстрочный интервал */;
    margin-right: 2vw;
    margin-top: 2vi;   
    height: auto;
    width: 45vi;
    background: linear-gradient(135deg, #f5f7fa, #e2e6ea);
    color: #333;
    border-radius: 12px;
} 
.text_down {
    padding: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vh;
    margin-bottom: 3vh;
    font-size: 1.2rem;
    border-radius: 12px;
    color: #333;
    background: linear-gradient(135deg, #f5f7fa, #e2e6ea);
    font-family: 'Arial', sans-serif;
    line-height: 1.6rem;
    word-wrap: break-word
}


.line {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0;
    margin-right: 0;
    height: auto;
    font-size: 2.7vh;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.line-center {
    padding: 0.5vi;
    padding-right: 0;
    margin-top: 3.5vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3.5vh;
    font-size: 2.7vh;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

/* Тут всякий цвет у текста и его размеры, вобщем такая мелочь */

.text_1 {
    display: flex;
    padding-left: 4vw;
}
.text_2 {
    display: flex;
    padding-left: 8vw;
}
.text_ul_1 {
    padding-left: 5vw;
}
.text_ul_2 {
    padding-left: 10vw;
}

.blok_text_up {
    padding-top: 2.5vh;
}

.text_down_1 {
    padding: 2.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 4vh;
    font-size: 5vw;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: black;
    border-radius: 20px;
}
.text_down_2 {
    padding: 2vw;
    margin-left: 15vi;
    margin-right: 19vi;
    margin-top: 3vi;
    font-size: 4vi;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: black;
    border-radius: 20px;
}
#line-end {
    padding: 0.5vi;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
    height: 5vi;
    font-size: 4vi;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
#Karpov {
    margin-bottom: 2.5vh;
}
